@font-face {
  font-family: GillSans;
  src: url("../fonts/GillSans-Light.ttf");
  font-style: normal;
}
@font-face {
  font-family: GillSans;
  src: url("../fonts/GillSans-LightItalic.ttf");
  font-style: italic;
}
@font-face {
  font-family: GillSans;
  src: url("../fonts/GillSans-Regular.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: GillSans;
  src: url("../fonts/GillSans-Italic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: TitleFont;
  src: url("../fonts/FiraSans-Bold.otf");
}
@font-face {
  font-family: TitleFont;
  src: url("../fonts/FiraSans-BoldItalic.otf");
  font-style: italic;
}
@font-face {
  font-family: TitleFont;
  src: url("../fonts/FiraSans-Heavy.otf");
  font-weight: bold;
}
@font-face {
  font-family: TitleFont;
  src: url("../fonts/FiraSans-HeavyItalic.otf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Menlo;
  src: url("../fonts/Menlo-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: Menlo;
  src: url("../fonts/Menlo-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: Menlo;
  src: url("../fonts/Menlo-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Menlo;
  src: url("../fonts/Menlo-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #CCC;
  overflow: hidden;
}

article {
  font-family: "GillSans", "sans-serif";
  font-size: 3.2vh;
  width: 133.33vh;
  height: 100vh;
  position: relative;
  background: white no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  transform-origin: top left;
}
@media (max-aspect-ratio: 4/3) {
  article {
    font-size: 2.4vw;
    width: 100vw;
    height: 75vw;
  }
}
article.title {
  background-image: url("BG_Title.png");
}
article.title h1 {
  position: relative;
}
article.title .context {
  color: white;
  text-align: right;
  position: absolute;
  top: 15%;
  right: 1%;
}
article.title .author {
  color: white;
  text-align: left;
  position: absolute;
  bottom: 15%;
  left: 1%;
}
article.title time {
  color: black;
  text-align: right;
  position: absolute;
  bottom: 2%;
  right: 2%;
}
article.section {
  background-image: url("BG_Section.png");
}
article.single {
  background-image: url("BG_Single.png");
  padding: 5% 3% 0 3%;
}
article.split {
  background-image: url("BG_SplitThin.png");
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 3%;
}

.leftside {
  width: 47.5%;
  padding-left: 0.5%;
}

.rightside {
  color: white;
  width: 47.5%;
  padding-right: 0.5%;
}

ul {
  margin: 0;
  list-style-type: square;
  line-height: 1.5;
  padding-left: 2ex;
}
ul ul {
  font-size: 90%;
  list-style-type: circle;
}
ul li.skip {
  margin-bottom: 1em;
}

.page_count {
  position: absolute;
  text-align: center;
  padding: 0;
  bottom: 0.5%;
  width: 10ex;
  border: 0.1ex black solid;
  border-radius: 0.75ex;
  font-size: 75%;
  background-color: rgba(255, 255, 255, 0.9);
  left: 50%;
  transform: translateX(-50%);
}

p {
  margin: 0;
}

object {
  margin: 0;
}

img {
  height: auto;
  width: auto;
}

pre {
  line-height: 1.5;
  white-space: pre-wrap;
  font-variant-ligatures: none;
}

code {
  font-family: "Menlo", "monospace";
  font-size: 80%;
}

h1 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "TitleFont", "sans-serif";
  font-weight: bold;
  font-size: 265%;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.075ex;
}

h2 {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-family: "TitleFont", "sans-serif";
  color: white;
  font-size: 200%;
}

.no-display {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

.highlight {
  background: #FF7;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.prev_link {
  position: absolute;
  width: 30%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

a.next_link {
  position: absolute;
  width: 70%;
  height: 100%;
  z-index: 1;
  top: 0;
  right: 0;
}
