@font-face
  font-family: GillSans
  src: url('../fonts/GillSans-Light.ttf')
  font-style: normal
@font-face
  font-family: GillSans
  src: url('../fonts/GillSans-LightItalic.ttf')
  font-style: italic
@font-face
  font-family: GillSans
  src: url('../fonts/GillSans-Regular.ttf')
  font-weight: bold
  font-style: normal
@font-face
  font-family: GillSans
  src: url('../fonts/GillSans-Italic.ttf')
  font-weight: bold
  font-style: italic
@font-face
  font-family: TitleFont
  src: url('../fonts/FiraSans-Bold.otf')
@font-face
  font-family: TitleFont
  src: url('../fonts/FiraSans-BoldItalic.otf')
  font-style: italic
@font-face
  font-family: TitleFont
  src: url('../fonts/FiraSans-Heavy.otf')
  font-weight: bold
@font-face
  font-family: TitleFont
  src: url('../fonts/FiraSans-HeavyItalic.otf')
  font-weight: bold
  font-style: italic
@font-face
  font-family: Menlo
  src: url('../fonts/Menlo-Regular.ttf')
  font-style: normal
@font-face
  font-family: Menlo
  src: url('../fonts/Menlo-Italic.ttf')
  font-style: italic
@font-face
  font-family: Menlo
  src: url('../fonts/Menlo-Bold.ttf')
  font-weight: bold
  font-style: normal
@font-face
  font-family: Menlo
  src: url('../fonts/Menlo-BoldItalic.ttf')
  font-weight: bold
  font-style: italic


section
  font-family: "GillSans", "sans-serif"
  background: white no-repeat
  //background-size: contain
  background-size: 100% 100%
  display: flex
  flex-direction: column
  justify-content: center
  line-height: 1.5

  &.title
    background-image: url("BG_Title.png")

    h1
      position: relative

    .context
      color: white
      text-align: right
      position: absolute
      top: 15%
      right: 1%

    .author
      color: white
      text-align: left
      position: absolute
      bottom: 15%
      left: 1%

    time
      color: black
      text-align: right
      position: absolute
      bottom: 2%
      right: 2%

    .page_counter
      display: none

  &.section
    background-image: url("BG_Section.png")

  &.single
    background-image: url("BG_Single.png")
    padding: 5% 3% 0 3%

  &.split
    background-image: url("BG_SplitThin.png")
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding-top: 3%

  &.no_page_counter .page_counter
    display: none

.leftside
  width: 47.5%
  padding-left: .5%

.rightside
  color: white
  width: 47.5%
  padding-right: .5%

ul
  margin: 0
  list-style-type: square
  line-height: 1.5
  padding-left: 1em

  ul
    font-size: 90%
    list-style-type: circle

  li.skip
    margin-bottom: 1em

.slide_footer
  position: absolute
  width: 100%
  bottom: .5%
  left: 0
  display: flex
  justify-content: center

.page_counter
  text-align: center
  padding: 0
  width: 5em
  border: .05em black solid
  border-radius: .3em
  font-size: 75%
  background-color: rgba(255, 255, 255, .9)

p
  margin: 0

object
  margin: 0

img
  height: auto
  width: auto

pre
  line-height: 1.5
  white-space: pre-wrap
  font-variant-ligatures: none


code
  font-family: "Menlo", "monospace"
  font-size: 80%

h1
  margin: 0
  position: absolute
  top: 0
  left: 0
  width: 100%
  text-align: center
  font-family: "TitleFont", "sans-serif"
  font-weight: bold
  font-size: 265%
  color: white
  -webkit-text-stroke-color: black
  -webkit-text-stroke-width: .03em

h2
  width: 100%
  text-align: center
  font-weight: normal
  font-family: "TitleFont", "sans-serif"
  color: white
  font-size: 200%

.no-display
  display: none !important

.hidden
  visibility: hidden !important

.highlight
  background: #FF7

.center
  display: flex
  flex-direction: column
  align-items: center

//::-webkit-scrollbar
//  width: 0
