meta(charset="UTF-8")
title M2101 - Architecture et programmation bas niveau
link(rel="stylesheet" href="../css/slides.css")
link(rel="stylesheet" href="../css/myriad.css")
link(rel="stylesheet" href="../css/highlight.css")