extends ../../myriad.pug

block preamble
  -
    root = "../..";
    context = "Embedded Systems";
    title = "An Introduction to<br>iOS Development";
    author = "Victor Poupet";

append header
  link(rel="stylesheet" href="highlight.css")
  style
    | html { --text-size: calc(11 * var(--pt)); }
    | pre code { font-size: calc(6 * var(--pt)); }

prepend footer
  script(src="highlight.pack.js")
  script(src="chapterXX.js")
